<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0 event-cover"
                 [ngStyle]="{'background-image': 'url(' + eventBannerFolder + evento.banner + ')'}">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <div class="h2 mb-24">{{promotor.name}}</div>

        <form [formGroup]="permisosForm">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Límite de invitados</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="maxInvitados" formControlName="maxInvitados" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="mb-24">
                <mat-checkbox formControlName="boxes">Habilitar boxes</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="permisosForm.controls.boxes.value">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Límite de Boxes</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="maxInvitados" formControlName="maxBoxes" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-checkbox formControlName="allowInvitadosAfterEventStarted">
                    Permitir agregar invitados luego del inicio del evento
                </mat-checkbox>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="action === 'save'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',permisosForm])"
                [disabled]="permisosForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
