<div class="page-layout carded fullwidth pb-40" fusePerfectScrollbar>

    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Eventos Asignados</h2>
        </div>

        <div class="content-card">

            <mat-tab-group>
                <mat-tab label="Grilla">
                    <div class="content p-24">
                        <banner-eventos-table-promotor></banner-eventos-table-promotor>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>