<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0 event-cover" [ngStyle]="{'background-image': 'url(' + evento.banner + ')'}">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="eventoForm">

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field>
                    <mat-select placeholder="Lista de Promotores" #selectedPromotor>
                        <mat-option *ngFor="let promotor of promotores" [value]="promotor" >
                            {{promotor.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addPromotorToEvent(selectedPromotor.value)">Agregar</button>


            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-checkbox>Habilitar boxes</mat-checkbox>
            </div>
        </form>

        <mat-list>
            <mat-list-item *ngFor="let promotor of evento.promotores">
                <img matListAvatar src="/assets/images/avatars/Velazquez.jpg" alt="...">
                <h3 matLine> {{promotor.name}} </h3>
                <p matLine>
                    <mat-checkbox> Habilitar boxes </mat-checkbox>
                </p>
            </mat-list-item>
        </mat-list>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(eventoForm)"
                [disabled]="eventoForm.invalid"
                aria-label="SAVE">
            Agregar
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',eventoForm])"
                [disabled]="eventoForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
