<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="contact-name mt-8">{{promotor.name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="promotorForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Teléfono</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="phone" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Correo</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="username" formControlName="username" matInput type="email">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notas</mat-label>
                    <mat-icon matSuffix class="secondary-text">note</mat-icon>
                    <input name="note" formControlName="note" matInput type="text">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="action !== 'edit'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Contraseña</mat-label>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <input name="password" formControlName="password" matInput type="text">
                </mat-form-field>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(promotorForm)"
                [disabled]="promotorForm.invalid"
                aria-label="SAVE">
            Agregar
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',promotorForm])"
                [disabled]="promotorForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
