:host {
    display: block;
    width: 100%;
}

.fuse-card {
    max-width: none;
    padding: 40px;
    margin-bottom: 20px;
}

.tabla-puerta {
    .mat-column-actions {
        max-width: 120px;
        padding-right: 10px;

    }
}

.tabla-promotor {
    .mat-column-actions {
        //max-width: 160px;
        padding-right: 10px;
    }
}

.mat-column-actionprom {
    max-width: 140px;
    padding-right: 20px;
}

.mat-column-phone {
    padding: 0 20px;
}

.fullwidth {
    width: 100%;
}

.mat-column-avatar {
    max-width: 64px;
}

mat-paginator {
    position: relative;
    margin-top: 13px;
}




.ingreso {
    background-color: #f9f9f9;
}

mat-row {
    align-items: unset !important;
}

@media (max-width: 812px) {
    .fuse-card {
        padding: 0;
    }
    .img-box {
        display: block;
        width: 100%;
    }
    .cdk-column-email {
        display: none;
    }

    .mat-column-actions {

        max-width: 45px;

        span {
            display: none;
        }
    }
}