<mat-form-field *ngIf="evento.promotores.length > 0">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por nombre">
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img class="avatar" src="/api/images/profiles/{{ element.avatar ? element.avatar : 'default-allpaqas.png' }}"/>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name" class="p-24" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start"  class="p-24" >
            <span class="h3"><b>{{ element.name }}</b></span>
            <span>Asistentes: {{ element.asistentes }} / {{ element.invitados }} | <b>{{ element.eficiencia | percent}}</b></span>

        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.username }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.phone }}
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button class="permiso" mat-button color="accent" (click)="openPermisosPromotor(element, evento)">
                <mat-icon>edit</mat-icon>
                <span>Permiso</span>
            </button>
            <button mat-button color="warn" (click)="deletePromotor(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
