<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="checkboxes[element.id]" (ngModelChange)="onSelectedChange(element.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img class="avatar" src="/api/images/profiles/{{ element.avatar ? element.avatar : 'default-allpaqas.png' }}"/>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.name }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.username }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.phone }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Notas</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.note }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="events">
        <mat-header-cell *matHeaderCellDef>Eventos</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.events.length }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="editPromotor(element)"><mat-icon>edit</mat-icon></button>
            <button mat-button color="warn" (click)="deletePromotor(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>