.fuse-card {
    margin: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
        max-width: none;
        height: 120px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 812px){
    .fuse-card {
        //float: none;
        margin: 20px auto 10px;
    }
}
