<div fxLayout="row wrap

" fxLayoutAlign="center">

    <div class="fuse-card" *ngFor="let element of eventos">
        <a [routerLink]="element._id">
            <img [src]="eventBannerFolder + element.banner">

            <div class="p-16">
                <div class="h1">{{element.name}}</div>
                <div class="h4 secondary-text">{{element.date | date:'MMMM d, y' }}</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">

            </div>
        </a>
    </div>
</div>