<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="checkboxes[element.id]" (ngModelChange)="onSelectedChange(element.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.name }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.date | date:'MMMM d, y' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Hora</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.time }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="promotores">
        <mat-header-cell *matHeaderCellDef>Promotores</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.promotores.length }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invitados">
        <mat-header-cell *matHeaderCellDef>Invitados</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.invitados.length }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="editEvento(element)" matTooltip="Editar Evento"><mat-icon>edit</mat-icon></button>
            <button mat-button color="warn" (click)="deleteEvento(element)" matTooltip="Borrar Evento"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>