<div class="page-layout carded fullwidth" fusePerfectScrollbar>

    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Dashboard General</h2>
        </div>

        <div class="content-card">

            <div class="toolbar px-24 py-8">
                <span>Desde esta página se pueden agregar, editar o eliminar promotores.</span>
            </div>

        </div>
    </div>
</div>
