<div class="page-layout carded fullwidth pb-40" fusePerfectScrollbar>

    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Gestión de Eventos</h2>
        </div>

        <div class="content-card">

            <mat-tab-group>

                <mat-tab label="Grilla">
                    <div class="content p-24">
                        <banner-eventos-table></banner-eventos-table>
                    </div>
                </mat-tab>
                <mat-tab label="Detalles" *ngIf="_AuthService.user.type === 'admin'">
                    <div class="toolbar p-24">
                        <span>Desde esta página se pueden agregar, editar o eliminar eventos.</span>
                    </div>

                    <div class="actions" fxLayout="row" fxLayoutAlign="start center" class="p-24">
                        <button (click)="addEvento()" mat-raised-button color="primary">Agregar evento</button>
                    </div>

                    <div class="content p-24">
                        <eventos-table [dataSource]="eventos"></eventos-table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>