<mat-table cdkDropList [dataSource]="data" class="mat-elevation-z8" (cdkDropListDropped)="drop($event)">
    <ng-container matColumnDef="stage">
        <mat-header-cell *matHeaderCellDef>Etapa</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field>
                <mat-select [(ngModel)]="element.stage">
                    <mat-option *ngFor="let stage of stages" [value]="stage.name">
                        {{stage.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Servicio</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field class="example-full-width">
                <input type="tel" matInput [(ngModel)]="element.description">
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef> Recurso</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field>
                <mat-select [(ngModel)]="element.admin">
                    <mat-option *ngFor="let resource of admin" [value]="resource">
                        {{resource.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef> Area</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field>
                <mat-select [(ngModel)]="element.area">
                    <mat-option *ngFor="let area of areas" [value]="area.name">
                        {{area.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duración</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field class="small-field">
                <input type="tel" matInput [(ngModel)]="element.duration">
                <span matSuffix>Días</span>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef> Costo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{getCost(element.admin.dailyCost, element.duration) | currency:'S/ '}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
</mat-table>